content {
  color: black;
}
.navbar-header a.navbar-brand {
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer.container {
  position: absolute;
  bottom:0;
  width:100%;
  height:20px;   /* Height of the footer */
  background:#ccc;
}
.nav.navbar-nav a {
  padding-top: 20px; 
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #777;
}
.col-md-12 a {
  color: darkslategrey;
}
#bkimg {
    background-image: url(/images/bckground.jpg);
    background-size: cover center center no-repeat;
    height: 100%;
    width: 100%;
}
.scroll {
  height: 100%
}
.angular-google-map-container {
  height: 320px;
  width: 100%;
  position: relative;
}
   
.marker-labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande","Arial",sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  white-space: nowrap;
  padding-left: 3px;
  padding-right: 3px;
}

span.badge {
  background-color: darkblue;
  color: white;
  font-size:8pt;
}