script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/lodash/dist/lodash.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-simple-logger/dist/angular-simple-logger.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-google-maps/dist/angular-google-maps.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/crags/cragService.js")
script(type="text/javascript", src="/app/crags/addCtrl.js")
script(type="text/javascript", src="/app/crags/editCtrl.js")
script(type="text/javascript", src="/app/crags/manageCtrl.js")
script(type="text/javascript", src="/app/main/Geo.js")
script(type="text/javascript", src="/app/main/mainCtrl.js")
script(type="text/javascript", src="/app/account/loginCtrl.js")
script(type="text/javascript", src="/app/account/Identity.js")
script(type="text/javascript", src="/app/common/Notifier.js")
script(type="text/javascript", src="/app/common/Popup.js")
script(type="text/javascript", src="/app/account/Auth.js")
script(type="text/javascript", src="/app/account/User.js")
script(type="text/javascript", src="/app/account/signupCtrl.js")
script(type="text/javascript", src="/app/account/profileCtrl.js")
script(type="text/javascript", src="/app/admin/userListCtrl.js")