
<div class="container">
  <div class="well">
    <form name="editCragForm" class="form-horizontal">
      <fieldset>
        <legend>Edit Crag</legend>
        <div class="form-group">
          <label for="name" class="col-md-2 control-label">Name</label>
          <div class="col-md-10">
            <input name="name" type="text" ng-model="crag.name" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="region" class="col-md-2 control-label">Region</label>
          <div class="col-md-10">
            <input name="region" type="text" ng-model="crag.region" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="location" class="col-md-2 control-label">Location (Lat,Lon)</label>
          <div class="col-md-10">
            <input name="location" type="text" ng-model="crag.location" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="grade" class="col-md-2 control-label">Grade</label>
          <div class="col-md-10">
            <input name="grade" type="text" ng-model="crag.grade" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="tags" class="col-md-2 control-label">Tag nearby facilities</label>
          <div class="col-md-10">
            <input ng-repeat="ct in crag.tags" name="tags" type="text" ng-model="ct.text" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <div class="pull-right"><br/>
              <button ng-click="saveCrag()" class="btn btn-primary">Update</button>&nbsp;<a href="/" class="btn btn-default">Cancel</a>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>