.container
  .well
    form.form-horizontal(name="editCragForm")
      fieldset
        legend Edit Crag
        .form-group
          label.col-md-2.control-label(for="name") Name
          .col-md-10
            input.form-control(name="name", type="text", ng-model="crag.name")
        .form-group
          label.col-md-2.control-label(for="region") Region
          .col-md-10
            input.form-control(name="region", type="text", ng-model="crag.region")
        .form-group
          label.col-md-2.control-label(for="location") Location (Lat,Lon)
          .col-md-10
            input.form-control(name="location", type="text", ng-model="crag.location")
        .form-group
          label.col-md-2.control-label(for="grade") Grade
          .col-md-10
            input.form-control(name="grade", type="text", ng-model="crag.grade")
        .form-group
          label.col-md-2.control-label(for="tags") Tag nearby facilities
          .col-md-10
            input.form-control(ng-repeat='ct in crag.tags' name="tags", type="text", ng-model="ct.tag")
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              br
              button.btn.btn-primary(ng-click="saveCrag()") Update
              | &nbsp;
              a.btn.btn-default(href="/") Cancel
