.col-md-6
    .panel.panel-default
      .panel-heading
        h2.panel-title.text-center
          | Featured Crags
      .panel-body
        table.table.table-default
          thead
            tr
              th Name
              th Region
              th Grade
          tbody(ng-repeat='crag in $parent.crags')
            tr
              td {{crag.name}}
                br 
                span.badge(ng-repeat='ct in $parent.crag.tags') {{ct.tag}}
              td {{crag.region}}
              td {{crag.grade}}
      
        