.col-md-12
      well
            ui-gmap-google-map(class='angular-google-map-container' center='map.center',zoom='map.zoom', bounds='map.bounds' options='options')
                  ui-gmap-markers(models="mks" coords="'coords'" icon="'icon'" idKey="'id'" doCluster='true' doRebuildAll='true')
      br