.col-md-12
      well
            ui-gmap-google-map(class='angular-google-map-container' center='$parent.map.center',zoom='$parent.map.zoom', bounds='$parent.map.bounds' options='$parent.options')
                  ui-gmap-markers(models="$parent.mks" coords="'coords'" icon="'icon'" idKey="'id'" doCluster='true' doRebuildAll='true')
      br