.col-md-6
    .panel.panel-default
        .panel-heading
            h2.panel-title.text-center
                | Find Me Some Crags (Map Query)
                span.glyphicon.glyphicon-search
        .panel-body
            form(name='queryForm')
                .form-group
                    label(for='name') Crag Name
                    input#name.form-control(type='text', placeholder='Crag Name..', ng-model='$parent.formData.name')
                .form-group
                    label(for='region') Crag Region
                    input#location.form-control(type='text', placeholder='Crag Region..', ng-model='$parent.formData.region')
                .form-group
                    label(for='grade') Grade (4+,5+,6+,..)
                    input#grade.form-control(type='text', placeholder='Crag Grade', ng-model='$parent.formData.grade')
                button.btn.btn-danger.btn-block(type='submit', ng-click='$parent.queryCrags()') Search
        .panel-footer(ng-show='queryCount>0')
            p.text-center Awesome! We Found {{queryCount}} Crags.